@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* define header height variable */
:root{
  --header-height: 64px;
  --page-break: 5rem
}


@theme {
  --page-break: 1rem;
  --radius-img: 1rem;
  --radius-container: 1rem;
  --padding-container: 1.5rem;
  --padding-page: 5rem;
  --padding-page: 5rem;
  --padding-page-break: 2rem;
  --gap-page-break: 2rem;
  --gap-container: 1.5rem;
  --gap-header: 1rem;
  --background-color-main: #101828;
  --background-color-header: #1e2939;
  --background-color-container: #304666;
  --color-light: #ededed;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: semi-bold;
}

button {
  cursor: pointer;
}

/* Increase paragraph spacing inside Tailwind Typography `.prose` */
.prose p + p {
  margin-top: 1rem;
}