@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* define header height variable */
:root {
  --header-height: 64px;
  --page-break: 5rem
}


@theme {
  --margin-page: 5rem;
  --page-break: 1rem;
  --radius-img: 1rem;
  --radius-container: 1rem;
  --padding-container: 4rem;
  --padding-page: 10rem;
  --padding-page-break: 2rem;
  --gap-page-break: 2rem;
  --gap-container: 1.5rem;
  --gap-header: 1rem;
  --background-color-main: #101828;
  --background-color-header: #1e2939;
  --background-color-container: #304666;
  --color-light: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: semi-bold;
}

button {
  cursor: pointer;
}

/* Increase paragraph spacing inside Tailwind Typography `.prose` */
.prose p+p {
  margin-top: 1rem;
}

.nav-button {
  position: relative;
  background-color: transparent;
  border: 0;
  height: fit-content;
  padding-bottom: 3px;
  box-sizing: border-box;
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 3px;
  border-color: transparent;
  vertical-align: middle;
  --tw-font-weight: var(--font-weight-bold);
  font-weight: var(--font-weight-bold);
  width: fit-content;
  display: flex;
  gap: 12px;

  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function)
      /* cubic-bezier(0.4, 0, 0.2, 1) */
    );
  transition-duration: var(--tw-duration, var(--default-transition-duration)
      /* 150ms */
    );

  --tw-duration: 300ms;
  transition-duration: 300ms;

  --tw-ease: var(--ease-in-out)
    /* cubic-bezier(0.4, 0, 0.2, 1) */
  ;
  transition-timing-function: var(--ease-in-out)
    /* cubic-bezier(0.4, 0, 0.2, 1) */
  ;
}

.nav-button:hover {
  color: white;
  border-color: white;
}

@property --tw-ease {
  syntax: "*";
  inherits: false;
}

@property --tw-duration {
  syntax: "*";
  inherits: false;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false;
}